*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, main {
    height: 100vh;
    width: 100%;
    min-height: 100vh;
}

main{
    display: flex;
}
.right-l{
    height: 100%;
    width: 50%;
    background-color: #D5F0C1;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
}
.textNotes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
textarea{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px black;
    padding: 1rem 1rem;
    /* font-size: 14px; */
    /* outline: 1px solid black; */

}
input{
    padding: 0.5rem;
    width: 50px ;
    height: 50px;
    border-radius: 50%;
    border: none;

}
input[type="color"]{
    border: 1px solid black;
    /* border-color: red; */
}


#btn{
    margin: 1.5rem;
    padding: 1rem 2.3rem;
    border-radius: 1.6rem;
    font-size: 16px;
    font-weight: 800;
    color: white;
    border: none;
    /* border: 1px solid black; */
    background-color: darkblue;
    transition: all 0.5s ease ;
    box-shadow: 0px 0px 10px black;
}
#btn:hover{
    color:darkblue;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(136, 132, 132, 0.818);
}



.right-r{
    width: 50%;
    height: 100%;
    background-color: #F9F7C9;

}
h1{
    text-align: center;
}
.onetimeshow{
    text-align: center;
    margin-top: 10rem;
    font-size: 20px;
}

.notessection{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.notesdiv{
    height: 100px;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.701);
    margin: 10px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    box-shadow: 0 0 10px black;
    /* background-color: #80BCBD; */

}
.notesdiv button{
    width: 20px;
    height: 20px;
    font-size: 16px;
    background-color: #EEE7DA;
    border: none;
    font-weight: 500;
    margin: 0.3rem;
    border-radius: 0.2rem;
}
.notePara{
    max-width: 150px;
    color: white;
    font-size: 18px;
}